language: python

python:
  - 2.7
  - 3.4
  - 3.5

compiler:
  - gcc

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - build-essential
      - cmake
      - gcc-4.7
      - g++-4.7

before_install:
  - wget http://repo.continuum.io/miniconda/Miniconda-latest-Linux-x86_64.sh -O miniconda.sh
  - >
    if $(awk 'BEGIN r=($TRAVIS_PYTHON_VERSION >= 3) ? 0 : 1; exit} END {exit r}'); then
    wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh
    else
    wget https://repo.continuum.io/miniconda/Miniconda2-latest-Linux-x86_64.sh -O miniconda.sh
    fi
  - chmod +x miniconda.sh
  - ./miniconda.sh -p $HOME/miniconda -b
  - if [ -d $HOME/miniconda ]; then export PATH=$HOME/miniconda/bin:$PATH; fi
  - echo $PATH
  - conda update --yes conda
  - export CC=gcc-4.7
  - export CXX=g++-4.7

install:
  - conda install --yes python=$TRAVIS_PYTHON_VERSION cython
  - pip install .

sudo: true

script:
  - nosetests
  - pushd .
  - mkdir build && cd build && cmake .. && make tests && ./tests
  - popd

deploy:
  provider: pypi
  user: kgori
  password:
    secure: oIXbiXQEchaNJ1kBGec2vRgoVEB3UymLrbdCJ+XHda68tddoEpfjF+ZF8D5h9vNFJD1FAjr98aiDbi6WAVFEROBHhLwMbXdhPEgrosQAM/M7occR/gGpTQFBptHpWEGSMOgeerV5AEuPyz0eQA0IhH4nVHvEjjaKimiibyUYADZtvQRd3T7UPZwE9t2xLEw2+UBmCJlDWn0R68epscK3aIDp51kxv1lprdu6V1nnzNfB7Aq3DPD5K9krct5ESWbowa7UGcdt2gxZ2jNyuOrmdE4Y11D8Hqrf5lbSh0t4K0aukgnOrBFUj0yZXOfqp8Yu5h6hSiWJNwjXaE/Xvfwxn4RrGwdaYKv1SC/KrHbpngmth17VkGaXYMMGLrgfhPnNi70NZOr42tUC6Y+HFUjwlBqd4sO97r/WEMiySeKx7mD2Qg+ryVK0Y3E30Law8cYp9X1ZeImnhz0sjLqoNfsOAYkIfLlepH6Q3JhGNFCIpFzIZrN62rONDDqGrGfF2D3nF4n1tucjQVYB2uyAJ5mvQZZcNaZcV7LAEqEY6Dq9cJuc6YCW0A6LQu+2kllxlvMZCscqwNiiVBKlM/+3K2TUQFuy4lHvu6rnPSAhor3k8aIwY4E/MLFruoirAlivLVeFSHIt9fSbaaQ49pah8JaYEZAIFPgHFqCUmuvHgYd+S+k=
  on:
    tags: true
    distributions: sdist bdist_wheel
    repo: kgori/tree_distance
    branch: master
